[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.4.0"
port-for = "==0.7.1"
mirakuru = "==2.5.1"
elasticsearch = "==8.9"

[dev-packages]
towncrier = "==23.6.0"
black = "==23.7.0"
pytest-xdist = "==3.3.1"
pytest-cov = "==4.1.0"
mock = "==5.1.0"
ruff = "==0.0.285"
types-setuptools = "==68.1.0.0"
mypy = "==1.5.1"
types-mock = "==5.1.0.1"
tbump = "==6.10.0"
rstcheck = "==6.1.2"
