[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.3.2"
port-for = "==0.7.0"
mirakuru = "==2.5.1"
elasticsearch = "==8.8.0"

[dev-packages]
towncrier = "==23.6.0"
black = "==23.3.0"
pytest-xdist = "==3.3.1"
pytest-cov = "==4.1.0"
mock = "==5.0.2"
ruff = "==0.0.272"
