[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==7.3.2"
port-for = "==0.7.0"
mirakuru = "==2.4.2"
elasticsearch = "==7.17.0"

[dev-packages]
towncrier = "==23.6.0"
pycodestyle = "==2.9.1"
pydocstyle = "==6.1.1"
black = "==23.3.0"
pytest-xdist = "==3.3.1"
pytest-cov = "==4.1.0"
mock = "==5.0.2"
