# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
pytest==5.2.4
pytest-xdist==1.30.0
pytest-cov==2.8.1
coverage==4.5.4 # pytest-cov
mock==3.0.5
port-for==0.4
mirakuru==2.1.0; python_version>'3.5'
mirakuru<2.1.0; python_version<='3.5'
elasticsearch==7.1.0
-e .[tests]