# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
pytest==6.2.5
pytest-xdist==2.4.0
pytest-cov==3.0.0
coverage==6.0.1 # pytest-cov
mock==4.0.3
port-for==0.6.1
mirakuru==2.4.1
elasticsearch==7.15.0
-e .[tests]
