# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==4.4.1 # pytest-cov
pylama==7.3.3
pyflakes==1.5.0
pydocstyle==2.0.0
pycodestyle==2.3.1
mccabe==0.6.1
pyroma==2.2
pytest==3.0.7 #  rq.filter: !=2.9.0,!=2.9.1,!=2.9.2
port-for==0.3.1
