name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", pypy-3.8]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache Elasticsearch installations
      uses: actions/cache@v3
      with:
        path: ~/es
        key: ${{ hashFiles('.install-elasticsearch.sh') }}
    - name: Install Elasticsearch
      run: ./.install-elasticsearch.sh
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-test.txt
    - name: Run test 7.17
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-7.17.0/bin/elasticsearch -n 0 --cov-report=xml
    - name: Run xdist test 7.17
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-7.17.0/bin/elasticsearch -n 1 --cov-report=xml:coverage-xdist.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        flags: linux, elastic-7.17
        env_vars: OS, PYTHON
        fail_ci_if_error: true
    - name: Run test 7.16
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-7.16.2/bin/elasticsearch -n 0 --cov-report=xml
    - name: Run xdist test 7.16
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-7.16.2/bin/elasticsearch -n 1 --cov-report=xml:coverage-xdist.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        flags: linux, elastic-7.16
        env_vars: OS, PYTHON
        fail_ci_if_error: true
    - name: Run test 7.15
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-7.15.2/bin/elasticsearch -n 0 --cov-report=xml
    - name: Run xdist test 7.15
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-7.15.2/bin/elasticsearch -n 1 --cov-report=xml:coverage-xdist.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        flags: linux, elastic-7.15
        env_vars: OS, PYTHON
        fail_ci_if_error: true
    - name: Run test 7.14
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-7.14.2/bin/elasticsearch -n 0 --cov-report=xml
    - name: Run xdist test 7.14
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-7.14.2/bin/elasticsearch -n 1 --cov-report=xml:coverage-xdist.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        flags: linux, elastic-7.14
        env_vars: OS, PYTHON
        fail_ci_if_error: true
    - name: Run test 6.8
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-6.8.18/bin/elasticsearch -n 0 --cov-report=xml
    - name: Run xdist test 6.8
      run: |
        pytest --elasticsearch-executable=/home/runner/es/elasticsearch-6.8.18/bin/elasticsearch -n 1 --cov-report=xml:coverage-xdist.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        flags: linux, elastic-6.8
        env_vars: OS, PYTHON
        fail_ci_if_error: true
